
@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="~/Content/basic/css/style.css">
    <title>模拟合同效果</title>
</head>
<body>
    <div class="manage-modal">
        <div class="flipbook-viewport">
            <div class="container">
                <div class="flipbook">
                    <div>
                        @*<div class="fm-top">
                                <p>甲方合同编号：<span>HZ1213134864</span></p>
                                <p>乙方合同编号：<span>HZ4562312151</span></p>
                            </div>*@
                        <div class="fm-title">未来家合作协议</div>
                        <div class="fm-sign">
                            <label for="">甲方：</label>
                            <input class="input-class fm-input" type="text">
                        </div>
                        <div class="fm-sign">
                            <label for="">乙方：</label>
                            <input class="input-class fm-input" value="上海腾飞地产公司" type="text">
                        </div>
                        <div class="fm-footer">
                            <p>二0一九年四月</p>
                            <p>未来家合作协议签订</p>
                        </div>
                    </div>
                    <div>
                        <div class="manage-page">
                            <p>为建立长期、稳定、良好的业务支持和合作关系，根据国家法律、法规以及银行业监督管理机构有关规定，甲乙双方本着自愿、平等、互利、守信的原则，以共同发展和长期合作为目标，签订本协议。</p>
                            <p>第一条<span>&nbsp;&nbsp;</span>甲方在国家法律、法规和金融政策允许的业务范围内将乙方作为支持的客户，利用自身的金融资源为乙方优先提供全方位的金融服务。</p>
                            <p>
                                第二条<span>&nbsp;&nbsp;</span>乙方在国家法律、法规和企业章程允许的范围内，与甲方建立长期密切合作关系，在甲方所辖分支机构开立主要结算账户，利用自身的资源和行业内的优势为甲方提供必要的信息和便利以协助甲方在乙方系统内部开展金融服务并防控风险。
                            </p>
                            <p>
                                第三条<span>&nbsp;&nbsp;</span>甲方向乙方承诺在符合国家金融政策的前提下，针对合作项目给乙方授信并提供不少于项目投资总额65%的信贷支持。
                            </p>
                            <p>
                                第四条<span>&nbsp;&nbsp;</span>甲方根据乙方资金需求及经营管理和财务等状况，在未来
                                <input class="input-class" type="text">年内，提供总额（大写）
                                <input class="input-class" type="text">元的意向性信用额度。具体信用额度的确定按照甲方的相关授信管理制度及乙方质物金额办理。
                            </p>
                            <p>
                                第五条<span>&nbsp;&nbsp;</span>乙方通过向甲方提供质物担保方式。
                            </p>
                            <p>第六条 甲方承诺在双方合作过程中本着诚实信用的原则全面适当地履行如下义务：</p>
                            <p>1、按照约定的业务合作范围，为乙方提供全方位、个性化、优质高效的金融服务。 </p>
                            <p>2、在符合甲方信贷制度要求的前提下，优先受理乙方</p>
                        </div>
                    </div>
                    <div>
                        <div class="manage-page">
                            <p class="wrap">的融资申请，以方便乙方快捷使用授信额度。在符合国家政策、法律法规和甲方管理制度的前提下给予乙方优惠的贷款利率或费率。</p>
                            <p>第七条<span>&nbsp;&nbsp;</span>在具体项目的经营期间，双方应当在信息共享的前提下，甲方对乙方的资金用途实行监督。</p>
                            <p>第八条<span>&nbsp;&nbsp;</span>甲方为乙方的生产经营活动提供及时有效的国家政策、行业指导以及金融信息，并对乙方的管理提出建议。 本协议签署后，若乙的营业执照或章程发生或可能发生变化，应立即书面通知甲方；</p>
                            <p>第九条<span>&nbsp;&nbsp;</span>任何一方对合作过程中获得的对方商业秘密以及其他与利益相关的财务数据或信息负有保密义务。除非根据法律、法规或规范性文件的要求，未经对方同意，不得向任何第三人披露或泄露上述信息。当事人的保密义务不因本协议的解除或终止而免除</p>
                            <p>
                                第十条  本协议自双方签字或盖章之日起生效，有效期
                                <input class="input-class" type="text">年。期满前两个月内双方无书面异议的，协议有效期自动延长
                                <input class="input-class" type="text">年。
                            </p>
                            <p>第十一条  在履行本协议过程中，未经双方书面协商一致，任何一方不得单方面修改或变更本协议。</p>
                            <p>第十二条<span>&nbsp;&nbsp;</span>如遇国家法律、法规或政策变化，致使本协议的部分或全部条款不再符合国家法律、法规或政策要求的，各方应及时协商，尽快修改本协议相关条款。</p>
                            <p>
                                第十三条<span>&nbsp;&nbsp;</span>甲乙任何一方违反法律法规，严重违反本协议约定或发生其他影响本协议目的实现的不利情形的，对方有权解除本协议。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="manage-page">
                            <p>
                                第十四条<span>&nbsp;&nbsp;</span>因本协议引起的或与本协议有关的任何争议，甲乙双方均应本着平等互利的原则协商解决。协商不成的，按照按以下第
                                <input class="input-class" type="text">种方式解决：
                            </p>
                            <p>
                                1、诉讼。由
                                <input class="input-class long" type="text">住所地人民法院管辖。
                            </p>
                            <p>
                                2、仲裁。提交
                                <input class="input-class long" type="text">（仲裁机构全称）按其仲裁规则进行仲裁。
                            </p>
                            <p>
                                在诉讼或仲裁期间，本协议不涉及争议的条款仍须履行。
                            </p>
                            <p>
                                第十五条<span>&nbsp;&nbsp;</span>本协议未尽事宜，可由双方签订补充协议，补充协议与本协议具同等效力。
                            </p>
                            <p>第十六条<span>&nbsp;&nbsp;</span>本协议自双方法定代表人（负责人）或其授权代理人签字并加盖公章之日起生效。</p>
                            <p>第十七条<span>&nbsp;&nbsp;</span>本协议一式两份，甲、乙双方各执一份。</p>
                        </div>
                    </div>
                    <div>
                        <div class="manage-page" id="signPage">
                            <p class="page-title wrap">
                                签字页
                            </p>
                            <div class="party party-a">
                                <div class="fm-sign">
                                    <label for="">甲方:</label>
                                    <input class="input-class length2" id="CName" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">法定代表人:</label>
                                    <input class="input-class length5" id="Legal" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">身份信息:</label>
                                    <input class="input-class length4" AUTOCOMPLETE="off" id="Number" onblur="CardId()" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">地址:</label>
                                    <input class="input-class length2" id="Address" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">性别:</label>
                                    <input class="input-class length2" id="Sex" disabled type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">出生日期:</label>
                                    <input class="input-class length4" id="Birthday" disabled type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">电话:</label>
                                    <input class="input-class length2" id="Phone" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">开户银行:</label>
                                    <input class="input-class length4" disabled id="Bank" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">账号:</label>
                                    <input class="input-class length2" id="BankNumber" onblur="NumberChang()" type="text">
                                </div>
                                <div class="fm-sign">
                                </div>
                                <div class="fm-sign">
                                    <p class="wrap">(盖章)</p>
                                    <button class="seal" onclick="Sava()">盖章</button>
                                    <button class="qx-seal" disabled>取消</button>
                                </div>
                                <div class="fm-sign">
                                    <label for="">签订日期:</label>
                                    <input class="input-class year" id="MYear" name="MYear" type="text">年
                                    <input class="input-class date" id="MMonth" name="MMonth" type="text">月
                                    <input class="input-class date" id="MDay" name="MDay" type="text">日
                                </div>
                                <div class="box">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                            <div class="party party-b disabled">
                                <div class="fm-sign">
                                    <label for="">乙方:</label>
                                    <input class="input-class length2" value="腾飞房地产公司" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">法定代表人:</label>
                                    <input class="input-class length5" value="滕毅飞" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">地址:</label>
                                    <input class="input-class length2" value="上海奉贤区五四公路3389号" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">电话:</label>
                                    <input class="input-class length2" value="17563753001" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">开户银行:</label>
                                    <input class="input-class length4" value="中国工商银行" type="text">
                                </div>
                                <div class="fm-sign">
                                    <label for="">账号:</label>
                                    <input class="input-class length2" type="text" value="6212261001080775106">
                                </div>
                                <div class="fm-sign">
                                    <label for="">楼盘负责人:</label>
                                    <select style="width:110px" name="E_Id" id="E_Id">
                                        @foreach (var item in ViewBag.Emp)
                                        {
                                            <option value="@item.E_Id">@item.E_Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="fm-sign">
                                    <p class="wrap">(盖章)</p>
                                    <button class="seal disabled">盖章</button>
                                    <button class="qx-seal">取消</button>
                                </div>
                                <div class="fm-sign">
                                    <label for="">签订日期:</label>
                                    <input class="input-class year" name="MYear" type="text">年
                                    <input class="input-class date" name="MMonth" type="text">月
                                    <input class="input-class date" name="MDay" type="text">日
                                </div>
                                <div class="box">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="prev-btn"></button>
            <button class="next-btn"></button>
        </div>
        <input type="hidden" name="H_Id" id="H_Id" value="@ViewBag.Id" />
        @*<input type="hidden" name="E_Id" id="E_Id" value="1006" />*@
    </div>
    <script type="text/javascript" src="~/Content/basic/extras/jquery.min.1.7.js"></script>
    <script type="text/javascript" src="~/Content/basic/extras/modernizr.2.5.3.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Scripts/CardId.js?v=1.0"></script>
    <script type="text/javascript">
        function loadApp() {
            $('.flipbook').turn({
                width: 914,
                height: 643,
                elevation: 500,
                gradients: true,
                autoCenter: true

            });
        }
        yepnope({
            test: Modernizr.csstransforms,
            yep: ['/Content/basic/lib/turn.js'],
            nope: ['/Content/basic/lib/turn.html4.min.js'],
            both: ['/Content/basic/css/basic.css'],
            complete: loadApp
        });

        $(".prev-btn").on("click", function (event) {
            $(".flipbook").turn("previous");
        });
        //上一页按钮
        $(".next-btn").on("click", function (event) {
            $(".flipbook").turn("next");
        });

        $('.seal').on('click', function () {
            var str = '上海腾飞科技有限公司'; //假设公司名称
            var letter = str.split('');
            var o = 7 - Math.floor(letter.length / 2);
            $(this).parent().siblings('.box').children('span').html();
            for (var i = 0; i < letter.length; i++) {
                $(this).parent().siblings('.box').children('span').eq(o + i).html(letter[i]);
            }
            $(this).hide().siblings('.qx-seal').show().parent().siblings('.box').show();
        })

        $('.qx-seal').on('click', function () {
            $(this).hide().siblings('.seal').show().parent().siblings('.box').hide();
        })

        $('.disabled').find('input').attr('disabled', 'disabled');
        $('.disabled').find('.seal').attr('disabled', 'disabled');
    </script>
</body>
</html>

<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth();
    var day = date.getDate();
    $("[name='MYear']").val(year);
    $("[name='MMonth']").val(month+1);
    $("[name='MDay']").val(day);
    function CardId() {
        $.ajax({
            url: "/Important/GetCardId?number=" + $("#Number").val(),
            dataType: "json",
            type: "get",
            success: function (data) {
                $("#Address").val(data.Address);
                $("#Sex").val(data.Sex);
                $("#Birthday").val(data.Birthday);
            }
        })
    }

    function NumberChang() {
        var bankNumber = $("#BankNumber").val();
        var bankName = bankCardAttribution(bankNumber).bankName;
        if (bankName != "error") {
            $("#Bank").val(bankName);
        }
    }

    function Sava() {
        var o = new Object();
        o.E_Id = $("#E_Id").val();
        o.H_Id = $("#H_Id").val();
        o.U_Name = $("#CName").val();
        o.C_Legal = $("#Legal").val();
        o.C_Phone = $("#Phone").val();
        o.C_CardId = $("#Number").val();
        o.C_Address = $("#Address").val();
        o.C_Sex = $("#Sex").val();
        o.C_Birthday = $("#Birthday").val();
        o.C_Bank = $("Bank").val();
        o.C_BankNumber = $("#BankNumber").val();

        $.ajax({
            url: "/Important/AddContract?json=" + JSON.stringify(o),
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    layer.msg("合同签订成功！");
                }
            }
        })
    }
</script>