@using Model
@model List<Position>
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <title>后台管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="~/Style/static/css/font.css" rel="stylesheet" />
    <link href="~/Style/static/css/weadmin.css" rel="stylesheet" />
    <link href="~/Style/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Style/lib/layui/css/layui.mobile.css" rel="stylesheet" />
    <script src="~/Style/lib/layui2.0.2/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

</head>
<body>
    <script>
        layui.use('element', function () {
            var emlemnt = layui.emlemnt;
        });
    </script>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <a href="./index.html">未来家后台管理</a>
        </div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>

        <ul class="layui-nav right" lay-filter="" style="margin-top:-6px;margin-right:30px;">
            <li class="layui-nav-item">
                <img src="~/Style/static/images/headimg.png" style="width:45px;height:45px;border-radius:50%" />
            </li>
            <li class="layui-nav-item">

                <a href="javascript:;">@Session["Name"]</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="fantian(@Session["Eid"])">个人信息</a>
                    </dd>
                    <dd>
                        <a class="loginout" href="/Admin/Login">退出</a>
                    </dd>
                </dl>
            </li>
            @*<li class="layui-nav-item to-index">
                    <a href="/">前台首页</a>
                </li>*@
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>员工管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/Important/EmpShow">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>员工列表</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/Important/AddEmp">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>员工入职</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/Important/GetSale">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>员工销量</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe705;</i>
                        <cite>客户管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/Important/Bespeak">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>预约客户</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/Important/UserInfoShow">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>客户信息</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>楼盘管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/FYY/AddApartMent">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>添加户型</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/FYY/AddHouse">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>添加楼盘</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/FYY/GetHouse">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>楼盘列表</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe726;</i>
                        <cite>管理员管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/Important/Contract">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>添加合同信息</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/Important/ContractinfoShow">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>合同信息</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="./pages/admin/cate.html">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>权限分类</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="./pages/admin/rule.html">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>权限管理</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                @*<li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6ce;</i>
                            <cite>系统统计</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="/Important/ZxTu">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>员工当月销售</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="/Important/linechart">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>柱状图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="./pages/echarts/echarts3.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>地图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="./pages/echarts/echarts4.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>饼图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="./pages/echarts/echarts5.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>雷达图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="./pages/echarts/echarts6.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>k线图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="./pages/echarts/echarts7.html">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>热力图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>仪表图</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>地图DIY实例</cite>
                                </a>
                            </li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
            <ul class="layui-tab-title" id="tabName">
                <li>我的桌面</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='/Important/Welcome' frameborder="0" scrolling="yes" class="weIframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2018 WeAdmin v1.0 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
    <script type="text/javascript">
        //			layui扩展模块的两种加载方式-示例
        //		    layui.extend({
        //			  admin: '{/}../../static/js/admin' // {/}的意思即代表采用自有路径，即不跟随 base 路径
        //			});
        //			//使用拓展模块
        //			layui.use('admin', function(){
        //			  var admin = layui.admin;
        //			});
        layui.config({
            base: '/Style/static/js/'
            , version: '101100'
        }).use('admin');
        layui.use(['jquery', 'admin'], function () {
            var $ = layui.jquery;
            $(function () {
                //var login = JSON.parse(localStorage.getItem("login"));
                //if (login) {
                //    if (login = 0) {
                //        window.location.href = './login.html';
                //        return false;
                //    } else {
                //        return false;
                //    }
                //} else {
                //    window.location.href = './login.html';
                //    return false;
                //}
            });
        });</script>



  
</body>
<!--Tab菜单右键弹出菜单-->
<ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
</ul>
</html>
<script>
    function fantian(id) {
        //示范一个公告层
        layer.open({
            type: 1
            , title: false //不显示标题栏
            , closeBtn: false
            , area: ['70%', '450px']
            , shade: 0.1
            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
            , btn: ['修改', '取消']
            , btnAlign: 'c'
            , moveType: 1 //拖拽模式，0或者1
            , content:'<table class="layui-table"><tr><td></td><td><label id="id" hidden="hidden" /></td></tr><tr><td></td><td><input type="text" id="PoneInput" name="E_Name" class="form-control" style="margin-top:20px" placeholder="姓名" /></td></tr><tr><td></td><td><select class="form-control" id="E_Sex_" style="margin-top:20px"><option value="">性别</option> <option value="1">男</option><option value="0">女</option></select></td></tr><tr><td></td><td><input type="text" id="E_Age" name="E_Age" class="form-control" style="margin-top:20px" placeholder="年龄" /></td></tr><tr><td></td><td><input type="text" id="E_IDCard" name="E_IDCard" class="form-control" placeholder="身份证号" style="margin-top:20px" /> </td> </tr><tr> <td></td><td><input type="text" id="E_Address" name="E_Address" class="form-control" placeholder="家庭住址" style="margin-top:20px" /> </td></tr> <tr> <td></td> <td>  <select class="form-control" id="P_Id" style="margin-top:20px">  <option value="">职位</option>@foreach (var item in ViewBag.Bind) {<option value="@item.P_Id">@item.P_Name </option>}   </select> </td> </tr> <tr>  <td></td> <td> <input class="form-control" type="text" id="E_StartTime" name="E_StartTime" onclick="return showCalendar(" EntTime", "y-mm-dd" );" placeholder="入职日期" style="margin-top:20px" />  </td></tr><tr> <td></td><td> <input type="text" id="E_Phone" name="E_Phone" class="form-control" placeholder="联系方式" style="margin-top:20px" /> </td></tr></table>'
            , success: function (layero) {
                $.ajax({
                    url: "/Important/FantianShow/?id=" + id,
                    type: "get",
                    dataType: "json",
                    async: "true",
                    success: function (data) {
                        console.log(data);
                        $("#id").val(id);
                        $("[name='E_Name']").val(data.E_Name);
                        $("#E_Sex_ option").each(function () {
                            if (data.E_Sex == $(this).val()) {
                                $(this).prop("selected", true);
                            }
                        });
                        $("[name='E_Age']").val(data.E_Age);
                        $("#E_IDCard").val(data.E_IDCard);
                        $("#E_Address").val(data.E_Address);
                        $("#P_Id option").each(function () {
                            if (data.P_Id == $(this).val()) {
                                $(this).prop("selected", true);
                            }
                        })
                        $("#E_StartTime").val(data.E_StartTime);
                        $("#E_Phone").val(data.E_Phone);
                    }
                })
            }
            , yes() {
                var id = $("#id").val();
                var nmae = $("[name='E_Name']").val();
                var sex = $("#E_Sex_").val();
                var age = $("[name='E_Age']").val();
                var card = $("#E_IDCard").val();
                var address = $("#E_Address").val();
                var zhiwei = $("#P_Id option:selected").val();
                var Rztime = $("#E_StartTime").val();
                var Pone = $("#E_Phone").val();
                var o = { E_Name: nmae, E_Sex: sex, E_Age: age, E_IDCard: card, E_Address: address, E_StartTime: Rztime, P_Id: zhiwei, E_Phone: Pone,E_Id:id };
                $.ajax({
                    url: "/Important/uptEmp/?emp=" + JSON.stringify(o),
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data > 0) {
                            layer.msg('修改成功');
                        }
                    }
                });
            },
            btn2() {

            }
        });
    }
</script>

